- if @answer.present?
  -@path = question_answer_path(@answer)
  -@method = 'post'
  -p = {:url => @path, method:  @method}
- else
  -p = {}
= form_for @question, p do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "Для сохранения исправьте ошибки:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, :maxlength=>50
    = f.text_field :title
  .actions
    = f.button 'Сохранить', class: "link-button"
