- if admin?
  =link_to "Выйти", logout_path, class: 'login-link'
-else
  =link_to "Войти", login_path, class: 'login-link'
- if @question.present?
  -if @question.answer.present?
    =link_to "Назад", @question.answer.question, class: 'fa fa-chevron-left back-link'
  .question-title
    %span
      %h1= @question.title
      -if admin?
        .question-manage
          %a.edit-link.fa.fa-pencil{:href => edit_question_path(@question), title: "Редактировать"}
          =link_to "", @question, :method => :delete, data: { confirm: 'Вы уверены?' }, class: "remove-link fa fa-trash", title: "Удалить"
  .question-body
    %ul.answers
      - @question.answers.each do |answer|
        %li
          -if answer.children.present?
            =link_to answer.title, answer.children
          - else
            =link_to answer.title, empty_path(@question, answer)
          -if admin?
            .answer-manage
              %a.edit-link.fa.fa-pencil{:href => edit_answer_path(answer), title: "Редактировать"}
              =link_to "", answer, :method => :delete, data: { confirm: 'Вы уверены?' }, class: "remove-link fa fa-trash", title: "Удалить"
    - if admin?
      =link_to "Добавить ответ", new_question_answer_path(@question), class: "link-button"
-else
  =render partial: 'questions/noquestion'
