%ul
  %h2.tree-head
    =link_to q.title, q
  -if q.answers.present?
    - q.answers.each do |answer|
      %li
        %span.answer-head{:title => q.title}= answer.title
      %li
        -if answer.children.present?
          -if answer.children_type == "Question"
            =render partial: 'questions/question', locals: {q: answer.children}
          -elsif answer.children_type == "Instruction"
            %h2
              =link_to answer.children.title, answer.children, class: 'instruction-head'
        -else
          %h2
            =link_to 'Вопроса или рекомендации пока нет', empty_path(q, answer), class: 'empty-head'