=link_to "Назад", @answer.question, class: 'fa fa-chevron-left back-link'
%h1 Вопроса нет
- if admin?
  =link_to "Добавить вопрос", new_fat_question_path(@answer), class: "link-button"
  =link_to "Добавить инструкцию", new_instruction_path(@answer), class: "link-button"
