- if @answer.present?
  -@path = instruction_answer_path(@answer)
  -@method = 'post'
- else
  -@path = {}
  -@method = {}
= form_for @instruction, :url => @path, method:  @method do |f|
  - if @instruction.errors.any?
    #error_explanation
      %h2= "Для сохранения исправьте ошибки:"
      %ul
        - @instruction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, :maxlength=>50
    = f.text_field :title
  .field
    = f.label :text
    = f.cktext_area :text, :ckeditor => {:language => 'ru'}
  .actions
    = f.button 'Сохранить', class: "link-button"
