= link_to 'Назад', instruction_path(@instruction), class: 'fa fa-chevron-left back-link'

%h1 Редактировние инструкции для ответа
- @answer = @instruction.answer
%h4 "#{@answer.title}" на вопрос "#{@answer.question.title}"

= render 'form'
