=link_to "Назад", @instruction.answer.question, class: 'fa fa-chevron-left back-link'
-if admin?
  .manage
    =link_to "Редактировать", edit_instruction_path(@instruction)
%h1= @instruction.title
.text
  %p= raw @instruction.text