= form_for [@question, @answer] do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "Для сохранения исправьте ошибки:"
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title, :maxlength=>30
    = f.text_field :title
  .actions
    = f.button 'Сохранить', class: "link-button"
