@import "variable";
.answers{
  text-align: center;
  li{
    position: relative;
    display: inline-block;
    margin-right: 70px;
    & > a{

      display: inline-block;
      min-width: 40px;
    }
    .answer-manage{
      display: block;
      position: absolute;
      right: -10px;
      top: -3px;
      transform: translateX(100%);
      a{
        margin-right: 1px;
      }
    }
  }
}