.loginBox{
  display: block;
  width: 100%;
  margin: 20px auto;
  max-width: 300px;
  margin-top: 100px;
  form{
    & > *{
      width: 100%;
      margin-top: 10px;
      input{
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}