
.center-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
}
.back-link{
  margin: 10px!important;
  display: inline-block;
}
.center-text{
  text-align: center;
}
.login-link{
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 1000;
}