$error: #E62239;
$notice: #2DB56F;
@import "mixins";

.alert{
  position: fixed;
  right: 20px;
  top: 20px;
  display: inline-block;
  padding: 0.4em;
  color: #fff;
  font-size: 1em;
  z-index: 10000;
  @include border-radius(3px);
  &.alert-error{
    background-color: $error;
  }
  &.alert-notice{
    background-color: $notice;
  }
}

  #notice {
    color: $notice;
  }

  input.error {
      @include box-shadow(2px, 2px, 1px, $error)
  }
  label.error{
    color: $error!important;
  }
  #error_explanation {
    width: 450px;
    border: 2px solid $error;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background-color: $error;
      color: #fff;
    }

    ul li {
      font-size: 12px;
      list-style: square;
    }
  }
