@import "variable";
.question-title {
  width: 100%;
  text-align: center;
  position: relative;
  h1, h2, h3, h4 {
    display: inline-block;
  }
  span {
    position: relative;
    display: inline-block;
  }
  .question-manage {
    display: block;
    position: absolute;
    right: -10px;
    top: 1.7em;
    transform: translateX(100%);
  }
}
.question-body {
  box-sizing: border-box;
}