@import "variable";
.question-tree{
  ul{
    padding-left: 20px;
    li{
      margin-left: 0;
      padding-left: 10px;
      font-size: 11px;
      border-left: 1px dashed #D8DB7A;
    }
  }
  .answer-head{
    color: #261530;
    cursor: help;
    padding-bottom: 1px;
  }
  .instruction-head{
    color: $green;
    padding-left: 20px;
  }
  .empty-head{
    color: $light-red;
    padding-left: 20px;
  }
  h2{
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
}