@import "variable";

a{
  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
  color: $link;
  &:hover{
    color: lighten($link, 15%)
  }
  &.fa{
    margin-top: 5px;
    margin-right: 5px;
    &::before{
      padding-right: 5px;
    }
  }
}

ul{
  list-style-type: none;
}

.link-button{
  display: inline-block;
  background-color: $link-button;
  font-size: 18px;
  color: white;
  padding: 15px;
  text-align: center;
  border: none;
  margin: 10px 0;
  &:hover{
    color: white;
    background-color: lighten($link-button, 15%)
  }
}

button.link-button{
}
.field{
  margin-bottom: 10px;
  margin-top: 10px;
  label{
    margin-bottom: 5px;
    display: block;
  }
  input[type='text'], input[type='password'], textarea{
    padding: 8px;
    border-radius: 3px;
    border: 1px solid $blue;
  }
}
.edit-link{
  color: $edit;
  &:hover{
    color: lighten($edit, 20%)
  }
}
.remove-link{
  color: $remove;
  &:hover{
    color: lighten($remove, 20%)
  }
}